<div class="input-wrapper">
    <label [for]="inputName">{{ label }}</label>
    <div class="input-content">
      <input
        [id]="inputName"
        [type]="showPassword ? 'text' : type"
        [value]="value"
        (input)="onInput($event)"
        [placeholder]="placeholder"
        class="form-control"
        
      />
      <button
        type="button"
        (click)="changeShowPassword()"
        class="btn-toggle-password"
        aria-label="Mostrar ou ocultar senha"
        *ngIf="type === 'password'"
      >
        <img
          [src]="showPassword ? openEyeIcon : closeEyeIcon"
          alt="Toggle password visibility"
          class="eye-icon"
        />
      </button>
      <div class="icon">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  