<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg" alt="">
        <h2>{{title}}</h2>
        <ng-content ></ng-content>
        <div class="btn-wrapper">
            <div class="login-wrapper">
                <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">{{primaryBtnText}}
                </button>
                <button type="button" class="button-google" (click)="loginGoogle()"><img src="../../../assets/png/Google_Icons-09-512.png" alt=""></button>
                
            </div>
            
            
            <div class="divider">
                <div></div>
                <span>Or</span>
                <div></div>
            </div>
            
            <button class="btn-secondary" (click)="navigate()">{{secondayBtnText}}</button>
        </div>
        
    </section>

    <section class="main-section">
        <h1></h1>
        <img src="/assets/svg/main-ilustration.svg" alt="" height="">
    </section>
</main>